@model HomePageViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
                    <small class="text-muted">Welcome to Daarto</small>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-5">
                    <div class="row row-sm text-center">
                        <div class="col-xs-6">
                            <div class="panel padder-v item">
                                <div class="h1 text-info font-thin h1">@Model.TotalNumberOfUsers</div>
                                <span class="text-muted text-xs">Registered Users</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>