@{
    ViewData["Title"] = "System Users";
}

@section Css {
    @{ await Html.RenderPartialAsync("_DataTablesStylesPartial"); }
}

<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">System Users</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            Users Table
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" cellspacing="0" id="users-table" width="100%">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Email Confirmed</th>
                        <th>Phone Number</th>
                        <th>Is Locked</th>
                        <th>Locked Until</th>
                        <th>Commands</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Email</th>
                        <th>Email Confirmed</th>
                        <th>Phone Number</th>
                        <th>Is Locked</th>
                        <th>Locked Until</th>
                        <th>Commands</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_DataTablesScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#users-table').DataTable({
                ajax: {
                    url: '@Url.Action($"{nameof(Daarto.Controllers.Administration.Api.UsersController.GetUsers)}", Daarto.Controllers.Administration.Api.UsersController.Name)',
                    type: 'post'
                },
                serverSide: true,
                lengthMenu: [10, 25, 50, 75, 100],
                searchHighlight: true,
                paging: true,
                columns: [{
                    data: 'email',
                    className: 'text-center'
                }, {
                    data: 'emailConfirmed',
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<input type="checkbox" class="editor-active" ' + (row.emailConfirmed ? 'checked' : '') + ' disabled />';
                        }

                        return data;
                    },
                    className: 'text-center'
                },
                {
                    data: 'phoneNumber',
                    className: 'text-center',
                    sortable: false
                },
                {
                    data: 'lockoutEnabled',
                    render: function(data, type, row) {
                        if (type === 'display') {
                            return '<input type="checkbox" class="editor-active" ' + (row.lockoutEnabled ? 'checked' : '') + ' disabled />';
                        }

                        return data;
                    },
                    className: 'text-center'
                },
                {
                    data: 'lockoutEnd',
                    className: 'text-center'
                },
                {
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<a href="/users/' + row.id + '/edit">edit</a>';
                        }

                        return '';
                    },
                    className: 'text-center',
                    sortable: false
                }]
            });
        });
    </script>
}